__pycache__/
*.pyc
*.pyo
.env
venv/
*.mp4
*.png
*.srt
scripts/scripts_output/*
!scripts/scripts_output/.gitkeep
animation/animations_output/*
!animation/animations_output/.gitkeep
captions/captions_output/*
!captions/captions_output/.gitkeep
thumbnails/thumbnails_output/*
!thumbnails/thumbnails_output/.gitkeep
upload/upload_output/*
!upload/upload_output/.gitkeep
output/*
